In [9]:
import numpy as np
import pandas as pd
from sklearn.neighbors import KNeighborsRegressor

dfTrain = pd.read_csv('../../../DataSet/trip_train.csv', parse_dates=['start_date', 'end_date'], infer_datetime_format=True)
dfTest = pd.read_csv('../../../DataSet/trip_test.csv', parse_dates=['start_date', 'end_date'], infer_datetime_format=True)
dfWeather = pd.read_csv('../../../DataSet/weather.csv', parse_dates=['date'], infer_datetime_format=True)
dfStation = pd.read_csv('../../../DataSet/station.csv')

In [10]:
dfTrain = dfTrain[['id', 'duration', 'start_date', 'start_station_id', 'subscription_type']]
dfTrain.head()

       id  duration          start_date  start_station_id subscription_type
0  907649       396 2015-08-27 08:36:00                50        Subscriber
1  384043       636 2014-07-28 22:06:00                67        Subscriber
2  316176       334 2014-06-09 08:42:00                77        Subscriber
3  618874       666 2015-01-26 16:55:00                69        Subscriber
4  910977       318 2015-08-29 15:09:00                67        Subscriber

In [11]:
dates = {'year':dfTrain.start_date.dt.year,
         'month':dfTrain.start_date.dt.month, 
         'day':dfTrain.start_date.dt.dayofyear, 
         'weekday':dfTrain.start_date.dt.dayofweek, 
         'hour':dfTrain.start_date.dt.hour}

wdates = {'year':dfWeather.date.dt.year, 
          'month':dfWeather.date.dt.month, 
          'day':dfWeather.date.dt.dayofyear}

dfTrain = pd.DataFrame(dates).join(dfTrain)
subscriptionTypes = dfTrain.subscription_type.unique()
dfTrain.subscription_type = dfTrain.subscription_type.astype('category', categories=subscriptionTypes).cat.codes

#dfWeather.join(pd.DataFrame())

In [12]:
dfTrain = dfTrain[['id', 'duration', 'month', 'weekday', 'day', 'hour', 'start_station_id', 'subscription_type']]

In [13]:
dfTrain.head()

,id,duration,month,weekday,day,hour,start_station_id,subscription_type
0,907649,396,8,3,239,8,50,0
1,384043,636,7,0,209,22,67,0
2,316176,334,6,0,160,8,77,0
3,618874,666,1,0,26,16,69,0
4,910977,318,8,5,241,15,67,0

In [14]:
def cityNameToZipCode(row) :

    if row.city == 'San Francisco' :
        return 94107

    if row.city == 'Redwood City' :
        return 94063

    if row.city == 'Palo Alto' :
        return 94301

    if row.city == 'Mountain View' :
        return 94041

    if row.city == 'San Jose' :
        return 95113

In [15]:
dfStation.loc[:,'city'] = dfStation.apply(cityNameToZipCode, axis=1)
dfStation.rename(columns={'id':'start_station_id', 'city':'city_zipcode'}, inplace=True)
dfStation = dfStation[['start_station_id', 'city_zipcode']]

In [16]:
dfTrain.merge(dfStation, on='start_station_id')

,id,duration,month,weekday,day,hour,start_station_id,subscription_type,city_zipcode
0,907649,396,8,3,239,8,50,0,94107
1,432022,4120,8,5,242,14,50,1,94107
2,224386,4675,3,6,82,16,50,1,94107
3,298292,1595,5,0,146,13,50,1,94107
4,133980,384,12,0,357,8,50,0,94107
5,568667,1336,12,6,341,12,50,0,94107
6,905612,1090,8,2,238,8,50,0,94107
7,548982,488,11,1,322,9,50,0,94107
8,577261,330,12,1,350,8,50,0,94107
9,759364,732,5,4,128,16,50,0,94107
10,807007,421,6,0,166,9,50,0,94107
11,513840,1126,10,4,297,11,50,1,94107
12,97650,842,11,4,319,15,50,0,94107
13,670483,371,3,4,65,8,50,0,94107
14,15173,1093,9,0,252,7,50,0,94107
15,563109,427,12,1,336,6,50,0,94107
16,343864,9624,6,6,180,13,50,1,94107
17,86926,198,11,3,311,9,50,0,94107
18,192816,2132,2,5,53,15,50,0,94107
19,105829,1370,11,5,327,15,50,1,94107
20,892257,653,8,0,229,7,50,0,94107
21,132849,136,12,5,355,7,50,0,94107
22,105755,903,11,5,327,13,50,1,94107
23,875945,252,8,1,216,19,50,0,94107
24,793416,321,6,3,155,8,50,0,94107
25,912776,871,8,0,243,16,50,0,94107
26,527997,716,11,1,308,7,50,0,94107
27,156176,548,1,3,16,17,50,0,94107
28,639398,669,2,2,42,9,50,0,94107
29,510300,406,10,2,295,14,50,1,94107
...,...,...,...,...,...,...,...,...,...
549931,41716,144,10,1,274,15,23,0,94063
549932,33100,200,9,1,267,14,23,0,94063
549933,12605,741,9,4,249,15,23,0,94063
549934,415155,199,8,1,231,15,23,0,94063
549935,641639,234,2,3,43,15,23,0,94063
549936,40034,342,9,0,273,10,23,0,94063
549937,518960,1674,10,1,301,12,23,0,94063
549938,70589,470,10,3,297,12,23,0,94063
549939,894817,1757,8,1,230,12,23,0,94063
549940,708558,124,4,2,91,22,23,0,94063
549941,100059,1575,11,0,322,12,23,0,94063
549942,853760,430,7,0,201,12,23,0,94063
549943,826666,1575,6,0,180,13,23,0,94063
549944,44361,1299,10,3,276,13,23,0,94063
549945,623793,1038,1,3,29,12,23,0,94063
549946,61775,211,10,3,290,10,23,0,94063
549947,603839,1411,1,2,14,12,23,0,94063
549948,444304,366,9,1,252,9,23,0,94063
549949,353148,1562,7,0,188,14,23,0,94063
549950,5546,1045,8,4,242,12,23,0,94063
549951,641486,340,2,3,43,13,23,0,94063
549952,324581,91045,6,5,165,18,23,1,94063
549953,23204,1031,9,0,259,12,23,0,94063
549954,829543,687,7,2,182,8,23,0,94063
549955,17730,66,9,2,254,12,23,0,94063
549956,37288,258,9,4,270,12,23,0,94063
549957,43177,140,10,2,275,16,23,0,94063
549958,894894,180,8,1,230,13,23,0,94063
549959,644543,3770,2,5,45,15,23,1,94063
549960,534675,251,11,4,311,14,23,0,94063